<!-- * ------------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : pop-up.component.html
 * Autor         : Layla Vanessa González Martínez
 * Fecha         : 07/10/2024
 * Descripción   : Se organiza el diseño de un pop-up interactivo en la página de
 *                 Horizon Health, que permite al usuario expresar su estado
 *                 emocional.
 *
 * Modificaciones:
 * Fecha         Modificado por     Descripción
 * 07/10/2024    Layla González     Se definieron las clases y se asignaron sus
 *                                  contenidos. Además, se cargaron las imágenes en
 *                                  el proyecto para ponerlas en la propiedad de
 *                                  cada emotion-item.
 * ---------------------------------------------------------------------------- -->

<!-- * Contenedor cuyo contenido es el popUp,
     * es para un "marco" -->
<div class="popUp-container" >

    <div class="popUp">
      <h2 class="h2"> ¿Cómo te sientes hoy? </h2>

      <!-- * Íconos de las emociones juntos -->
      <div class="emotions-icons">

        <!-- * Cada item representa una emoción,
             * se la pasa al método que almacena
             * que emoción se escogió, se le asigna
             * la ruta de la imagen correspondiente
             * y un "nombre" para la imagen -->
        <div class="emotion-item">
          <img
            (click)="emotionSelected('5')"
            class="emotions-img"
            src="excited.svg"
            alt="excited icon">
        </div>

        <div class="emotion-item">
          <img
            (click)="emotionSelected('4')"
            class="emotions-img"
            src="happy.svg"
            alt="happy icon">
        </div>

        <div class="emotion-item">
          <img
            (click)="emotionSelected('3')"
            class="emotions-img"
            src="neutral.svg"
            alt="neutral icon">
        </div>

        <div class="emotion-item">
          <img
            (click)="emotionSelected('2')"
            class="emotions-img"
            src="sad.svg"
            alt="sad icon">
        </div>

        <div class="emotion-item">
          <img
            (click)="emotionSelected('1')"
            class="emotions-img"
            src="depressed.svg"
            alt="depressed icon">
        </div>

      </div>
    </div>
</div>
