<div class="popUp-container" >
    <div class="popUp">
      <h2 class="h2"> ¿Cómo te sientes hoy? </h2>
      <div class="emotions-icons">

        <div class="emotion-item">
          <img
            (click)="emotionSelected('excited')"
            class="emotions-img"
            src="excited.svg"
            alt="excited icon">
        </div>

        <div class="emotion-item">
          <img
            (click)="emotionSelected('happy')"
            class="emotions-img"
            src="happy.svg"
            alt="happy icon">
        </div>

        <div class="emotion-item">
          <img
            (click)="emotionSelected('neutral')"
            class="emotions-img"
            src="neutral.svg"
            alt="neutral icon">
        </div>

        <div class="emotion-item">
          <img
            (click)="emotionSelected('sad')"
            class="emotions-img"
            src="sad.svg"
            alt="sad icon">
        </div>

        <div class="emotion-item">
          <img
            (click)="emotionSelected('depressed')"
            class="emotions-img"
            src="depressed.svg"
            alt="depressed icon">
        </div>

      </div>
    </div>
</div>

