<!-- *----------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : layout.component.html
 * Autor         : Humberto Medina Santos
 * Fecha         : 08/10/2024
 * Descripción   : Archivo que sirve como plantilla para las diferentes páginas de
 *                 los apartados de Horizon Health, haciendo que el NavBar aparezca
 *                 en cada una de ellas
 *
 * Modificaciones:
 * Fecha         Modificado por            Descripción
 * 08/10/2024    Humberto Medina Santos    Se creó la estructura de la plantilla
 * ---------------------------------------------------------------------------- -->

<!-- * Componente NavBar -->
<nav-bar/>

<!-- * Etiqueta mediante la cual se muestran todas las páginas/rutas -->
<router-outlet/>
