/* ----------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : log-in-page.component.css
 * Autor         : María Fernanda Torres Herrera
 * Fecha         : 07/10/2024
 * Descripción   : Estilos CSS de la página de inicio de sesión de Horizon Health
 *
 * Modificaciones:
 * Fecha         Modificado por            Descripción
 * 07/10/2024    María Torres Herrera      Se estructuraron los contenedores y se
 *                                         crearon sus respectivos estilos
 *
 * 09/10/2024    María Torres Herrera      Se crearon los estilos para el formulario
 *
 * 10/10/2024    María Torres Herrera      Se crearon los media queries para tabletas
 *                                         y celulares
 *
 * 11/10/2024    María Torres Herrera      Se ajustó el largo de los contenedores
 *                                         del carrusel
 *
 * 11/10/2024    Humberto Medina Santos    Se añadió el import de los estilos de
 *                                         Boostrap
 *
 * 16/10/24      María Torres Herrera      Se crearon los estilos para los 'ojos'
 *                                         que permiten al usuario ver u ocultar
 *                                         su contraseña
 * ---------------------------------------------------------------------------- */

 /* * Import para utilizar los estilos de la biblioteca Boostrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* * Estilos generales y para computadora */
.page-container {
  background: linear-gradient(160deg, rgba(130,204,181,1) 0%, rgba(107,202,222,1) 36%, rgba(115,171,222,1) 70%, rgba(94,158,217,1) 100%);
  height: 100vh;
  width: 100%;
  position: relative;
}

.full-form-container {
  background-color: white;
  position: absolute;
  top: 25px;
  bottom: 25px;
  left: 25px;
  right: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.form-container {
  width: 42%;
}

.form-container h1 {
  font-family: "Catamaran", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  background: linear-gradient(160deg, rgba(94,158,217,1) 0%, rgba(115,171,222,1) 30%, rgba(107,202,222,1) 70%, rgba(130,204,181,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding-bottom: 6px;
}

.form-container p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.60);
  margin: 0;
  padding-bottom: 20px;
}

.form-container p a {
  background: linear-gradient(160deg, rgba(94,158,217,1) 0%, rgba(115,171,222,1) 30%, rgba(107,202,222,1) 70%, rgba(130,204,181,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-container {
  width: 512px;
  margin: 30px auto 100px auto;
}

.logo-container img {
  width: 140px;
}

form {
  width: 512px;
  margin: auto;
}

.field {
  width: 100%;
  padding-bottom: 14px;
}

.field-label {
  font-family: "Catamaran", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.80);
}

.input-field {
  font-family: "Catamaran", sans-serif;
  font-size: 15px;
  width: 100%;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.20);
}

.password-input {
  position: relative;
}

.invisible {
  display: none;
}

.eye {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  margin: 6px;
}

form button {
  background: linear-gradient(160deg, rgba(94,158,217,1) 0%, rgba(115,171,222,1) 30%, rgba(107,202,222,1) 70%, rgba(130,204,181,1) 100%);
  border: none;
  font-family: "Catamaran", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
}

form button:hover {
  background: white;
  border: 2px solid rgba(94,158,217,1);
  color: rgba(94,158,217,1);
  cursor: pointer;
}

.image-container {
  width: 58%;
  height: 100%;
}

.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  filter: brightness(85%);
  object-fit: cover;
  height: 100%;
}

.carousel-item p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: justify;
}

/* * Estilos para tableta */
@media ( max-width: 768px ) {
  .form-container {
    width: 100%;
  }

  .image-container {
    display: none;
  }
}

/* * Estilos para celular */
@media ( max-width: 460px ) {
  .form-container {
    width: 100%;
  }

  .form-container h1 {
    width: 340px;
    margin: auto;
  }

  .form-container p {
    width: 340px;
    margin: auto;
  }

  .logo-container {
    width: 340px;
    margin: 30px auto 80px auto;
  }

  form {
    width: 340px;
  }

  .input-field {
    width: 100%;
  }

  .image-container {
    display: none;
  }
}
