<!-- *----------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : nav-bar.component.html
 * Autor         : Humberto Medina Santos
 * Fecha         : 07/10/2024
 * Descripción   : Archivo html del componente NavBar
 *
 * Modificaciones:
 * Fecha         Modificado por            Descripción
 * 07/10/2024    Humberto Medina Santos    Se creó la estructura html del componente
 *
 * 08/10/2024    Humberto Medina Santos    Se añadió la funcionalidad de esconder o
 *                                         aparecer los links de la navegación asi
 *                                         como el botón de Log In
 *
 * 09/10/2024    Humberto Medina Santos    Se añadió el método para navegar hacia
 *                                         la página de Log In
 * ---------------------------------------------------------------------------- -->

<nav>

  <!-- * Parte del NavBar que contiene el logo principal de Horizon Health
  * y el botón para esconder o hacer aparecer los links -->
  <div class="navigation">
    <a href="horizon-health">
      <img
        class="hh-logo"
        src="hh-logo.svg"
        alt="Sunset Wellness Logo">
    </a>

    <!-- * Links principales que llevan a cada apartado de la página -->
    <ul *ngIf="!hidden" class="links">
      @for ( item of NavBarItems(); track item.name ) {
        <li>
          <a
            class="link"
            [href]="item.route">
            {{ item.name }}
          </a>
        </li>
      }
    </ul>

    <button (click)="toggleNavBar()" class="toggle-nav"></button>

    <img
      class="profile"
      (click)="options_hidden = false"
      [src]="getImage()"
      alt="Perfil">
  </div>
</nav>

<div class="profile-pop-up" [class.options-hidden]="options_hidden">
  <profile-pop-up (onHide)="options_hidden = $event"/>
</div>
