<!-- *----------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : app.component.html
 * Autor         : Humberto Medina Santos
 * Fecha         : 01/10/2024
 * Descripción   : Archivo desde el cual se muestran todas las páginas de la app
 *
 * Modificaciones:
 * Fecha         Modificado por            Descripción
 * 01/10/2024    Humberto Medina Santos    Se borró el html por defecto y se puso
 *                                         la etiqueta <router-outlet/>
 * ---------------------------------------------------------------------------- -->

<!-- * Etiqueta que muestra todas las rutas de las diferentes páginas de la app -->
<router-outlet></router-outlet>
