<!-- *----------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : editar-perfil.component.html
 * Autor         : María Fernanda Torres Herrera
 * Fecha         : 21/10/2024
 * Descripción   : Estructura HTML del componente Editar Perfil
 *
 * Modificaciones:
 * Fecha         Modificado por            Descripción
 * 22/10/2024    María Torres Herrera      Se creó la estructura del componente
 *
 * 24/10/2024    María Torres Herrera      Se añadió la funcionalidad básica del
 *                                         formulario
 * ---------------------------------------------------------------------------- -->

<!-- * Contenedor principal -->
<div class="main-container">

  <!-- * Contenedor de la foto de perfil -->
  <div class="profile-picture-container">
    <img [src]="getImage()" alt="Profile Picture">
    <button (click)="getPicture()" class="edit-button"> Editar Imagen </button>

    <input
      type="file"
      #fileInput
      accept="image/*"
      (change)="onFileSelected($event)"
      style="display: none;">
  </div>

  <!-- * Contenedor del formulario -->
  <div class="form-container">

    <!-- * Formulario para editar el perfil de usuario. Cuenta con los campos: nombre completo y correo -->
    <form [formGroup]="myForm" (ngSubmit)="confirmChanges()">
      <div class="field">
        <label for="fullName" class="field-label"> Nombre Completo </label>
        <input #name type="text" class="input-field" formControlName="fullName" placeholder="Ingresa tu nombre">
      </div>

      <div class="field">
        <label for="email" class="field-label"> Correo Electrónico </label>
        <input #email type="email" class="input-field" formControlName="email" placeholder="Ingresa tu correo">
      </div>

      <!-- * Botón para guardar los cambios realizados al perfil -->
      <button class="save-changes-button" type="submit"> Guardar Cambios </button>
    </form>

  </div>
</div>
