<!-- *----------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : profile-page.component.html
 * Autor         : María Fernanda Torres Herrera
 * Fecha         : 21/10/2024
 * Descripción   : Estructura HTML del componente Editar Perfil
 *
 * Modificaciones:
 * Fecha         Modificado por            Descripción
 * 22/10/2024    María Torres Herrera      Se creó la estructura del componente
 * ---------------------------------------------------------------------------- -->

<!-- * Contenedor principal -->
<div class="main-container">

  <!-- * Contenedor de la foto de perfil -->
  <div class="profile-picture-container">
    <img src="placeholder-avatar.png" alt="Profile Picture">
    <button class="edit-button"> Editar Imagen </button>
  </div>

  <!-- * Contenedor del formulario -->
  <div class="form-container">

    <!-- * Formulario para editar el perfil de usuario. Cuenta con los campos: nombre completo y correo -->
    <form [formGroup]="myForm" (ngSubmit)="confirmChanges()">
      <div class="field">
        <label for="fullName" class="field-label"> Nombre Completo </label>
        <input type="text" class="input-field" formControlName="fullName" placeholder="Ingresa tu nombre">
      </div>

      <div class="field">
        <label for="email" class="field-label"> Correo Electrónico </label>
        <input type="email" class="input-field" formControlName="email" placeholder="Ingresa tu correo">
      </div>

      <!-- * Botón para guardar los cambios realizados al perfil -->
      <button class="save-changes-button" type="submit" [disabled]="myForm.invalid"> Guardar Cambios </button>
    </form>

  </div>
</div>
