/* ----------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : suscription-page.component.css
 * Autor         : María Fernanda Torres Herrera
 * Fecha         : 04/11/2024
 * Descripción   : Estilos CSS de la página suscripción de Horizon Health
 *
 * Modificaciones:
 * Fecha         Modificado por            Descripción
 * 05/11/2024    María Torres Herrera      Se estructuraron los contenedores y se
 *                                         crearon sus respectivos estilos
 *
 * 06/11/2024    María Torres Herrera      Se crearon los media queries para tabletas
 *                                         y celulares
 *
 * 12/11/2024    María Torres Herrera      Se creó el estilo para el contenedor
 *                                         secundario y se modificaron los media
 *                                         queries para adaptarse al contenedor
 * ---------------------------------------------------------------------------- */

/* * Estilos generales y para computadora */
.main-container {
  width: 100%;
  height: calc(100%+30px);
}

.secondary-container {
  height: 100%;
  margin: 0 30px 30px 30px;
  border-radius: 20px;
  background: linear-gradient(40deg, rgba(255,248,241,1) 0%, rgba(254,245,234,1) 39%, rgba(255,245,238,1) 85%);
}

.text-container {
  padding: 0 200px;
}

.text-container h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding-top: 80px;
}

.text-container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.suscription-container {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 50px;
  justify-content: center;
}

.suscription {
  width: 330px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 35px 0 0 30px;
}

.title {
  width: 300px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 26px;
  margin: 0 0 10px 0;
}

.text {
  width: 300px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.cost {
  width: 300px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 38px;
  margin: 0 0 20px 0;
}

.cost span {
  font-size: 24px;
}

.suscription-button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin: 0 0 20px 0;
  transition-duration: 0.5s;
}

.bbasic:hover {
  cursor: not-allowed;
}

.bseeker:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.benefits {
  width: 300px;
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  margin-bottom: 20px;
}

.benefits p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.check {
  width: 22px;
}

.hbasic {
  background: linear-gradient(40deg, rgba(255,246,144,0.5) 0%, rgba(255,207,122,0.6) 24%, rgba(255,184,142,0.7) 48%, rgba(255,158,178,0.8) 72%, rgba(255,155,213,1) 100%);
}

.hseeker {
  background: linear-gradient(40deg, rgba(163,255,226,0.7) 0%, rgba(123,232,255,0.8) 35%, rgba(132,196,255,0.9) 64%, rgba(110,186,255,1) 100%);
}

.basic { color: #6E214E; }

.seeker { color: #325192; }

.bbasic { background-color: #6E214E; }

.bseeker { background-color: #325192; }

/* * Estilos para tableta */
@media ( max-width: 768px ) {
  .text-container {
    padding: 0 100px;
  }

  .text-container h1 {
    padding-top: 70px;
  }

  .suscription-container {
    transform: scale(0.9);
    column-gap: 50px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .suscription-button {
    width: 270px;
  }
}

/* * Estilos para celular */
@media ( max-width: 460px ) {
  .text-container {
    padding: 0 40px;
  }

  .text-container h1 {
    font-size: 50px;
    line-height: 50px;
    padding-top: 60px;
    margin-bottom: 10px;
  }

  .text-container h2 {
    font-size: 20px;
  }

  .suscription-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: -25px;
    margin-bottom: 0;
    padding-bottom: 0;
    align-items: center;
  }

  .suscription-button {
    width: 300px;
  }
}
