nav {
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  background: white;
  box-shadow: 0 .5px 1px rgba(0, 0, 0, 0.425);
  z-index: 99999;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
}

.toggle-nav {
  background-image: url(../../../../../public/toggleNavBar.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: grid;
  align-self: center;
  margin-top: 11px;
  margin-bottom: 11px;
}

.sw-logo {
  cursor: pointer;
  height: 4rem;
  width: 12rem;
}

.icon {
  height: 2rem;
  width: 3rem;
  margin: 24px auto;
  display: none;
}

.links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  overflow: hidden;
  opacity: 1;
  transition: opacity 1s ease, max-height 1s ease;
}

.link {
  cursor: pointer;
  color: #2F041C;
  padding: 1rem;
  font-family: "Lato", sans serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  width: 80%;
  transition-duration: 0.4s;
}

.link:hover {
  color: #2f041c7d;
}

@media ( min-width: 460px ) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    padding: 0 2rem;
    height: 5rem;
  }

  .navigation {
    justify-content: space-around;
    margin: 0;
  }

  .toggle-nav { display: none; }
  .icon { display: block; }

  .sw-logo {
    height: 4.5rem;
    width: 12rem;
  }

  .link {
    height: 5rem;
    padding: 0 1rem;
    display: grid;
    place-content: center;
    width: auto;
  }

  .link:hover {
    background-color: rgba(0, 0, 0, 0.10);
    color: white;
  }

  .links {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    width: 18rem;
  }

  /* .link:hover {
    background-color: black;
    color: white;
    opacity: 0.1;
    transition: 0.1s ease-in-out;
  } */
}

@media ( max-width: 460px ) {
  .hidden {
    opacity: 0;
    max-height: 0;
  }
}

@media ( min-width: 768px ) {
  nav { padding: 0 4rem; }
  .links { width: 22rem; }
  .link { padding: 0 1.5rem; }

  .link:hover {
    background-color: rgba(0, 0, 0, 0.10);
    color: white;
  }
}
