<!-- *----------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : nav-bar.component.html
 * Autor         : Humberto Medina Santos
 * Fecha         : 02/10/2024
 * Descripción   : Archivo html del componente NavBar
 *
 * Modificaciones:
 * Fecha         Modificado por            Descripción
 * 02/10/2024    Humberto Medina Santos    Se creó la estructura del componente
 *
 * 03/10/2024    Humberto Medina Santos    Se implementó la funcionalidad de
 *                                         esconder o aparecer los links
 *                                         dependiendo del ancho de la pantalla
 *                                         o de si se presiona un botón
 *                                         Se implementó el evento para hacer scroll
 *                                         automático a una sección seleccionada
 * ---------------------------------------------------------------------------- -->

<nav>

  <!-- * Parte del NavBar que contiene el logo principal de Sunset Wellness
   * y el botón para esconder o hacer aparecer los links -->
  <div class="navigation">
    <img
      (click)="scrollToSection('inicio')"
      class="sw-logo"
      src="sw-logo.svg"
      alt="Sunset Wellness Logo">

    <button (click)="toggleNavBar()" class="toggle-nav"></button>
  </div>

  <!-- * Links que llevan a cada sección de la página principal -->
  <ul [class.hidden]="hidden" class="links">
    @for ( item of NavBarItems(); track item.name ) {
      <li
        class="link"
        (click)="scrollToSection(item.section!)">
        {{ item.name }}
      </li>
    }
  </ul>

  <!-- * Link que lleva directamente al Log In de Horizon Health -->
  <a href="horizon-health/auth/log-in"><svg [class.hidden]="hidden" class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" id="Link-Share-2--Streamline-Sharp-Remix" height="24" width="24"><desc>Link Share 2 Streamline Icon: https://streamlinehq.com</desc><g id="Remix/Interface Essential/link-share-2--create-hyperlink-link-make-unlink-square"><path id="Union" fill="#2F041C" fill-rule="evenodd" d="M23 1h-8l-1 1.00001 3.1161 3.11611 -7.99998 7.99998 1.76778 1.7678 8 -8.00002L22 10l1 -1V1ZM0.75 3.75h9.75v2.5H3.25v14.5h14.5V13.5h2.5v9.75H0.75V3.75Z" clip-rule="evenodd" stroke-width="1"></path></g></svg></a>
</nav>
