/* ----------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : mainpage.component.css
 * Autor         : Humberto Medina Santos
 * Fecha         : 01/10/2024
 * Descripción   : Archivo de estilos del componente MainPage
 *
 * Modificaciones:
 * Fecha         Modificado por            Descripción
 * 04/10/2024    Humberto Medina Santos    Se crearon los estilos para el componente
 * ---------------------------------------------------------------------------- */

.banner { position: relative; }

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
