/* ----------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : profile-page.component.css
 * Autor         : María Fernanda Torres Herrera
 * Fecha         : 16/10/2024
 * Descripción   : Estilos CSS de la página de perfil de usuario de Horizon Health
 *
 * Modificaciones:
 * Fecha         Modificado por            Descripción
 * 21/10/2024    María Torres Herrera      Se estructuraron los contenedores y se
 *                                         crearon sus respectivos estilos
 *
 * 24/10/2024    María Torres Herrera      Se crearon los media queries para tabletas
 *
 * 24/10/2024    Humberto Medina Santos    Se crearon los media queries para celulares
 *
 * 25/10/2024    María Torres Herrera      Se cambió el font al modal de SweetAlert
 *
 * 21/11/2024    María Torres Herrera      Se añadieron media queries adicionales
 * ---------------------------------------------------------------------------- */

/* * Estilos generales y para computadoras */
.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.settings-container {
  width: 20%;
  margin-left: 45px;
}

.logo-container {
  width: 70%;
  margin: 35px 0
}

.logo-container img {
  width: 100%;
}

.container-title {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-bottom: 35px;
}

.config-icon:hover {
  cursor: pointer;
}

.container-title h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}

.profile-settings, .security-settings {
  padding-bottom: 20px;
}

.profile-settings h2, .security-settings h2  {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #808080;
  margin: 0;
  margin-bottom: 20px;
}

.setting {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  margin-bottom: 24px;
}

.setting:hover {
  cursor: pointer;
  filter: invert(17%) sepia(43%) saturate(2668%) hue-rotate(295deg) brightness(87%) contrast(91%);
}

.setting p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

.horizontal-line {
  border-top: 1px solid #B3B3B3;
  width: 85%;
  margin-bottom: 22px;
}

.delete-setting p {
  color: #EA0C5F;
}

.content-container {
  background-color: #F2F2F2;
  width: 80%;
  position: relative;
}

.content-title {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  margin: 75px 0 30px 45px;
}

.toggle-settings-icon {
  display: none;
}

.content-title h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 36px;
  margin: 0;
}

.content {
  background-color: white;
  position: absolute;
  top: 148px;
  bottom: 45px;
  right: 45px;
  left: 45px;
  border-radius: 20px;

  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 5px;
}

::ng-deep .swal2-modal, ::ng-deep .swal2-input {
  font-family: "Roboto", sans-serif;
}

/* * Estilos adicionales */
@media ( max-width: 1360px ) {
  .settings-container {
    margin-left: 35px;
  }

  .container-title h1 {
    font-size: 28px;
  }

  .profile-settings h2, .security-settings h2  {
    font-size: 18px;
  }

  .setting p {
    font-size: 22px;
  }

  .icon {
    width: 22px;
  }

  .config-icon {
    width: 12px;
  }
}

@media ( max-width: 1180px ) {
  .settings-container {
    width: 24%;
    margin-left: 30px;
  }

  .container-title h1 {
    font-size: 27px;
  }

  .profile-settings h2, .security-settings h2  {
    font-size: 17px;
  }

  .setting p {
    font-size: 21px;
  }

  .horizontal-line {
    width: 88%;
  }

  .icon {
    width: 22px;
  }

  .config-icon {
    width: 12px;
  }
}

@media ( max-width: 1020px ) {
  .settings-container {
    width: 30%;
  }
}

@media ( max-width: 880px ) {
  .settings-container {
    width: 32%;
  }
}

@media ( max-width: 800px ) {
  .settings-container {
    width: 34%;
  }
}

/* * Estilos para tableta */
@media ( max-width: 768px ) {
  .settings-container {
    width: 32%;
    margin-left: 30px;
  }

  .logo-container {
    width: 70%;
    margin: 35px 0
  }

  .logo-container img {
    width: 100%;
  }

  .container-title h1 {
    font-size: 26px;
  }

  .profile-settings h2, .security-settings h2  {
    font-size: 16px;
  }

  .setting p {
    font-size: 20px;
  }

  .icon {
    width: 22px;
  }

  .config-icon {
    width: 12px;
  }

  .content-container {
    width: 68%;
  }

  .content-title {
    margin: 72px 0 30px 30px;
  }

  .content-title h1 {
    font-size: 30px;
  }

  .content {
    top: 138px;
    bottom: 30px;
    right: 30px;
    left: 30px;
  }
}

/* * Estilos adicionales */
@media ( max-width: 720px ) {
  .settings-container {
    width: 36%;
  }

  .container-title h1 {
    font-size: 24px;
  }

  .profile-settings h2, .security-settings h2  {
    font-size: 14px;
  }

  .setting p {
    font-size: 18px;
  }

  .icon {
    width: 20px;
  }

  .config-icon {
    width: 12px;
  }
}

@media ( max-width: 680px ) {
  .container-title h1 {
    font-size: 22px;
  }

  .profile-settings h2, .security-settings h2  {
    font-size: 14px;
  }

  .setting p {
    font-size: 18px;
  }

  .icon {
    width: 18px;
  }

  .config-icon {
    width: 10px;
  }
}

@media ( max-width: 620px ) {
  .container-title h1 {
    font-size: 20px;
  }

  .profile-settings h2, .security-settings h2  {
    font-size: 12px;
  }

  .setting p {
    font-size: 16px;
  }

  .icon {
    width: 18px;
  }

  .config-icon {
    width: 8px;
  }
}

@media ( max-width: 560px ) {
  .settings-container {
    width: 40%;
  }
}

/* * Estilos para celular */
@media ( max-width: 460px ) {
  .main-container {
    position: relative;
  }

  .settings-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: white;
    transition: 0.3s ease-in-out;
    margin: 0;
    padding-left: 30px;
    width: 60%;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
  }

  .logo-container {
    width: 70%;
    margin: 35px 0
  }

  .logo-container img {
    width: 100%;
  }

  .container-title h1 {
    font-size: 26px;
  }

  .profile-settings h2, .security-settings h2  {
    font-size: 16px;
  }

  .setting p {
    font-size: 20px;
  }

  .icon {
    width: 22px;
  }

  .config-icon {
    width: 12px;
  }

  .content-container {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  .toggle-settings-icon {
    background-image: url(../../../../../public/toggleNavBar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: grid;
    align-self: center;
  }

  .overlay {
    cursor: pointer;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 2;
  }

  .hidden {
    transform: translateX(-100%);
    box-shadow: none;
  }
}
