<!-- * -----------------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : estadisticas.component.html
 * Autor         : Layla Vanessa González Martínez
 * Fecha         : 11/11/2024
 * Descripción   : Archivo html para las estadísticas de las meditaciones y los 
 *                 test del usuario.
 *
 * Modificaciones:
 * Fecha         Modificado por     Descripción
 * 21/11/2024    Layla González     Se agregó un contenedor para cada gráfica.
 * -------------------------------------------------------------------------------------->

<!-- * Contenedor principal -->
<div class="main-container">

    <!-- * Gráfica de meditaciones -->
    <div class="chart-container">
        <canvas id="chart_meditaciones"></canvas>
    </div>
    
    <!-- * Gráfica de test -->
    <div class="chart-container">
        <canvas id="chart_tests"></canvas>
    </div>
        
</div>