/* * ---------------------------------------------------------------------------------
 * HorizonHealth
 * 
 * Archivo       : estadisticas.component.css
 * Autor         : Layla Vanessa González Martínez
 * Fecha         : 11/11/2024
 * Descripción   : Estilos CSS para el apartado de la gráfica de las estadísticas.
 * 
 * Modificaciones:
 * Fecha         Modificado por     Descripción
 * 15/11/2024    Layla González     Se crearon los media queries.
 *
 * 21/11/2024    Layla González     Se eliminaron los media queries y modificaron 
 *                                  propiedades.                       
 * -------------------------------------------------------------------------------- */

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.chart-container {
    width: 100%;
    height: 50%;
    display: flex;
}

canvas {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}