<!-- * -----------------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : festadisticas.component.html
 * Autor         : Layla Vanessa González Martínez
 * Fecha         : 11/11/2024
 * Descripción   : Archivo html para las estadísticas de las meditaciones y los 
 *                 test del usuario.
 *
 * Modificaciones:
 * Fecha         Modificado por     Descripción
 * 16/11/2024    Humberto Medina    Se agregó la gráfica de las estadísticas de los test.
 * -------------------------------------------------------------------------------------->

<!-- * Gráfica de estadísticas -->
<div class="main-container">
    <canvas id="chart_meditaciones"></canvas>
    <canvas id="chart_tests"></canvas>
</div>