<!-- * ------------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : festadisticas.component.html
 * Autor         : Layla Vanessa González Martínez
 * Fecha         : 11/11/2024
 * Descripción   : Archivo html de las estadísticas de las meditaciones del usuario.
 *
 * Modificaciones:
 * Fecha         Modificado por     Descripción
 *
 * --------------------------------------------------------------------------------->

 <!-- * Gráfica de estadísticas -->
<canvas id="chart_meditaciones"></canvas>
<canvas id="chart_tests"></canvas>
