/* ---------------------------------------------------------------------------------
 * HorizonHealth
 * 
 * Archivo       : contacto.component.css
 * Autor         : Layla Vanessa González Martínez
 * Fecha         : 30/09/2024
 * Descripción   : Estilos para la sección de contacto de la página de 
 *                 Sunset Wellness. 
 * 
 * Modificaciones:
 * Fecha         Modificado por     Descripción
 * 30/09/2024    Layla González     Se estilizaron el título, el subtítulo, y el
 *                                  background.

 * 01/10/2024    Layla González     Se creó la sección de información de contacto.

 * 02/10/2024    Layla González     Se creó la sección del forms para la 
 *                                  información.

 * 03/10/2024    Layla González     Creación de los media queries para celular y
 *                                  tablets.
 
 * 04/10/2024    Layla González     Re ajustes a medidas en general.
 * ---------------------------------------------------------------------------- */

 .contact-title {
  font-size: 64px;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 80px;
}

.contact-subtitle {
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.contacto-background {
  height: 1160px;
  background: linear-gradient( to right,
                              #26258F 0%,
                              #50236E 34%,
                              #99107D 69%,
                              #D9008A 100%);
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 300px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 1000px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-wrap: wrap;  
}

.contacto-info {
  background-color: #00114d;
  color: white;
  padding: 15px;
  width: 35%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.contacto-info h3 {
  font-size: 30px;
  margin-bottom: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 30px;
}

.contact-list li {
  font-size: 1rem;
  margin-bottom: 30px;
}

.contact-list li i {
  margin-right: 10px;
  font-size: 1.5rem;
}

.social-media {
  margin-top: auto;
  margin-bottom: 15px;
  margin-left: 20px;
}

.social-media i {
  font-size: 1.5rem;
  margin-right: 25px;
  cursor: pointer;
}

.contacto-form {
  background-color: white;
  padding: 15px;
  width: 60%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.contacto-form label {
  font-size: 0.8rem;
  color: #333;
  display: block;
}

.contacto-form input,
.contacto-form textarea {
  width: 100%;
  padding: 16px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 25px;
}

.contacto-form input:focus,
.contacto-form textarea:focus {
  border-color: #021f53;
  outline: none;
}

.contacto-form h2 {
  font-size: 2rem;
  color: #333;
}

.contacto-form p {
  color: #555;
}

button {
  background-color: #00114d;
  font-weight: 700;
  color: white;
  border: none;
  padding: 8px 30px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
  width: 200px;
  height: 50px;
  transition-duration: 0.6s;
}

button:hover {
  background-color: #000000;
}

.name-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.name-field {
  flex: 1;
}

.name-field input {
  width: 100%;
}

input {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1, h3, button {
  font-family: "Lato", sans-serif;
}

p, li {
  font-family: "Catamaran", sans-serif;
}

label {
  font-family: "Inter", sans-serif;
}

@media (max-width: 460px) {
  .contacto-info,
  .contacto-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-title {
    font-size: 48px;
  }

  .contact-subtitle {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .contacto-info,
  .contacto-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-title {
    font-size: 56px;
  }

  .contact-subtitle {
    font-size: 20px;
  }

  .contacto-background {
    height: 1050px;
  }
}

@media (min-width: 769px) {
  .row {
    width: 70%;
    margin: 0 auto;
    flex-wrap: nowrap; 
    gap: 20px;
  }

  .contacto-info {
    width: 35%;
  }

  .contacto-form {
    width: 60%;
  }

  .contacto-background {
    height: 600px;
  }
}