.contact-header {
  text-align: center;
  margin-bottom: 20px;
}

.contact-title {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.contact-subtitle {
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-top: 5px;
}

/* todo */
.contacto-background {
  height: 1000px;
  background: linear-gradient( to right,
                              #26258F 0%, 
                              #50236E 34%, 
                              #99107D 69%, 
                              #D9008A 100%);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4rem;
}

/* para que estén contact info y contact forms juntos */
.row {
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 1000px; /**/
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  gap: 20px; 
  flex-wrap: wrap;  /* Permite que los elementos se envuelvan */
}

/* recuadro de contact info*/
.contacto-info {
  background-color: #021f53;
  color: white;
  padding: 15px;
  width: 35%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

/* título "Información de Contacto" */
.contacto-info h3 {
  font-size: 1.5rem;
  margin-bottom: 18px;
}  

/* forma de lista en las viñetas de contact info */
.contact-list {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

/* espacio entre viñetas de la lista de contact info */
.contact-list li {
  font-size: 1rem;
  margin-bottom: 30px;
}

/* icons de teléfono, correo, ubicación */
.contact-list li i {
  margin-right: 10px;
  font-size: 1.5rem;
}

/* alinear contenedor con los icons */
.social-media {
  margin-top: auto;
  margin-bottom: 15px;
}

/* icons de redes sociales*/
.social-media i {
  font-size: 1.5rem;
  margin-right: 25px;
  cursor: pointer;
  
}

/* forms de user info */
.contacto-form {
  background-color: white;
  padding: 15px;
  width: 60%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

/* labels (nombres de campos) */
.contacto-form label {
  font-size: 0.8rem;
  color: #333;
  display: block; 
}

/* campos de user info */
.contacto-form input, 
.contacto-form textarea {
  width: 100%;
  padding: 8px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 25px;
}

/* color de borde focus */
.contacto-form input:focus,
.contacto-form textarea:focus {
  border-color: #021f53; 
  outline: none;
}

.contacto-form h2 {
  font-size: 2rem;
  color: #333;
}

.contacto-form p {
  color: #555;
}

button {
  background-color: #021f53;
  color: white;
  border: none;
  padding: 8px 30px;
  font-size: 0.9rem;
  border-radius: 30px;
  cursor: pointer;
  display: block; 
  margin: 0 auto; 
}

button:hover {
  background-color: #00183b;
}

/* área de nombre y apellido */
.name-container {
  display: flex; 
  justify-content: space-between; 
  gap: 10px; 
}

/* mismo espacio a campos de texto */
.name-field {
  flex: 1; 
}

/* campo ocupa el ancho disponible */
.name-field input {
  width: 100%; 
}

input {
  box-sizing: border-box;
}

textarea {
  width: 100%;
  box-sizing: border-box; 
  font-family: "Inter";
}

h1, h3, button {
  font-family: "Lato", sans-serif;
}

p, li {
  font-family: "Catamaran", sans-serif;
}

label, textarea {
  font-family: "Inter", sans-serif;
}

/* Celulares */
@media (max-width: 640px) {
  .contacto-info,
  .contacto-form {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Tabletas */
@media (max-width: 740px) {
  .contacto-info,
  .contacto-form {
    width: 100%;
    margin-bottom: 20px; 
  }
}

/* Computadoras */
@media (min-width: 1024px) {
  .row {
    width: 70%;
    margin: 0 auto; 
    flex-wrap: nowrap; /* Que no se ponga forms debajo de contact-info */
    gap: 20px;
  }

  /* Mantener anchos */
  .contacto-info {
    width: 35%; 
  }
  
  .contacto-form {
    width: 60%;
  }
}