<!-- ------------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : contacto.component.html
 * Autor         : Layla Vanessa González Martínez
 * Fecha         : 30/09/2024
 * Descripción   : Archivo html de la sección de contacto. Contiene el formulario
 *                 para la información del cliente y la presentación de la
 *                 información de contacto de la empresa.
 *
 * Modificaciones:
 * Fecha         Modificado por     Descripción
 * 30/09/2024    Layla González     Se definieron las clases y se asignaron sus
 *                                  contenidos.
 *
 * 16/11/2024    Humberto Medina    Se eliminaron espacios innecesarios
 * ---------------------------------------------------------------------------- -->

 <!-- * Sección principal, contiene todo -->
 <div class="contacto-background">

  <h1 class="contact-title"> ¡Contáctanos! </h1>
  <p class="contact-subtitle"> Déjanos saber cómo podemos ayudarte </p>

  <!-- * Se agrupa contact-info-container y contact form para ordenarlos uno junto al otro -->
  <div class="row">

    <div class="col-md-6 contacto-info">
      <h3> Información de Contacto </h3>

      <!-- * Lista de información sobre la empresa, con logos alusivos -->
      <ul class="contact-list">
        <li> <i class="fas fa-phone"> </i> 8715774512 </li>
        <li> <i class="fas fa-envelope"> </i> csunset.wellness.hh&#64;gmail.com </li>
        <li> <i class="fas fa-map-marker-alt"> </i> Av. Allende 892 Ote. Colonia Centro, CP 27000. </li>
      </ul>
      <!-- * Logos de redes sociales -->
      <div class="social-media">
        <a target="_blank" class="social-network" href="https://www.facebook.com/share/189n6juMt7/">
          <i class="fab fa-facebook-square"> </i>
        </a>

        <a target="_blank" class="social-network" href="https://www.instagram.com/sunsetwellness.hh/profilecard/?igsh=MXdiZmNyZXh5N3g0cg==">
          <i class="fab fa-instagram"> </i>
        </a>

        <a target="_blank" class="social-network" href="#">
          <i class="fab fa-twitter"> </i>
        </a>
      </div>
    </div>

    <!-- * Formulario para los datos de los usuarios -->
    <div class="col-md-6 contacto-form">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 name-container">

          <div class="name-field">
            <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Nombre(s)">
            <label for="firstName" class="form-label"> Nombre </label>
          </div>

          <div class="name-field">
            <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Apellido(s)">
            <label for="lastName" class="form-label"> Apellido </label>
          </div>
        </div>

        <div class="mb-3">
          <input type="email" class="form-control" id="correo" formControlName="correo"  placeholder="Correo Electrónico">
          <label for="correo" class="form-label"> Correo </label>
        </div>

        <div class="mb-3">
          <input type="tel" class="form-control" id="celular" formControlName="celular"  placeholder="Número de Teléfono">
          <label for="celular" class="form-label"> Teléfono </label>
        </div>
        <div class="mb-3">
          <textarea class="form-control" id="mensaje" rows="3" formControlName="mensaje"  placeholder="Escribe tu mensaje"> </textarea>
          <label for="mensaje" class="form-label"> Mensaje </label>
        </div>

        <!-- * Botón para mandar los datos una vez llenado el formulario -->
        <button type="submit" class="btn btn-primary"> Enviar </button>
      </form>
    </div>
  </div>
</div>
