<!-- ------------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : ejercicios.component.html
 * Autor         : Layla Vanessa González Martínez
 * Fecha         : 22/10/2024
 * Descripción   : Archivo html de la pestaña de Ejercicios en la sección de
 *                 Recomendaciones. Consta de un contenedor que abarca todos los
 *                 elementos, otro contenedor para la rutina del día, y uno para
 *                 información sobre ella, como lo es el nombre, la duración, y
 *                 una breve descripción.
 *
 * Modificaciones:
 * Fecha         Modificado por     Descripción
 * 21/10/2024    Layla González     Se definieron las clases y se asignaron sus
 *                                  contenidos.
 *
 * 22/10/2024    Layla González     Se modificó la estructura para llevar una
 *                                  mejor organización y control.
 * ---------------------------------------------------------------------------- -->

 <!-- * Todo el contenido en grupo -->
<div class="ejercicios">

    <!-- * Área donde se muestra la rutina de ejercicio -->
    <textarea readonly class="text"> {{ ejercicio() }} </textarea>

    <!-- * Contenedor del título, duración y descripción de la rutina -->
    <div class="info-ejercicio">
        <h1>Rutina del día</h1>
        <h2>Duración: {{ duracion() }} minutos</h2>
        <h2>Esta rutina es perfecta para quienes buscan incorporar actividad física de forma rápida
            y efectiva en su día a día. Ideal para principiantes y personas con agendas ocupadas.</h2>
    </div>
</div>
