/* ------------------------------------------------------------------------------------
 * HorizonHealth
 * 
 * Archivo       : ejercicios.component.css
 * Autor         : Layla Vanessa González Martínez
 * Fecha         : 22/10/2024
 * Descripción   : Estilos para la pestaña de Ejercicios de la sección Recomendaciones
 *                 en la página de Horizon Health. 
 * 
 * Modificaciones:
 * Fecha         Modificado por     Descripción
 * 22/10/2024    Layla González     Se estilizaron las clases para el contenedor de 
 *                                  la rutina diaria, el título, la duración, y una
 *                                  breve descripción para reforzar la confianza del
 *                                  usuario.
 *
 *                                  Creación de los media queries.
 * ------------------------------------------------------------------------------- */

.ejercicios {
    display: flex;
    justify-content: center;
}

.scroll-container {
    overflow-y: scroll;
    width: 50%;
    height: 430px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px;
    text-align: center;
    height: 430px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-style: SemiBold;
    font-size: 36px;
    color: #B64F00;
    margin-bottom: 30px;
}

h2 {
    font-family: "Nunito", sans-serif;
    font-style: SemiBold;
    font-size: 24px;
    color: #B64F00;
    margin: 0 80px 30px 80px;
}

h3, p, li {
    font-family: "Nunito", sans-serif;
    font-style: Light;
    font-size: 24px;
    color: #000000;
}

/* * Media query para tablets */
@media ( max-width: 768px ) {
    .ejercicios {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .scroll-container {
        width: 90%;
        height: 315px;
        order: 2;
        padding: 0 10px;
        margin-bottom: 20px;
    }

    .text {
        width: 90%;
        order: 1;
        height: auto;
        margin-top: 0;
    }

    h1 {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    
    h2 {
        font-size: 18px;
        margin: 0 0 1px 0;
        margin-bottom: 15px;
    }

    h3, p, li {
        font-size: 18px;
    }
}

/* * Media query para celulares */
@media ( max-width: 460px ) {
    .ejercicios {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .scroll-container {
        width: 85%;
        height: 265px;
        order: 2;
        margin-bottom: 20px;
    }

    .text {
        width: 90%;
        order: 1;
        height: auto;
        margin-top: 0;
    }

    h1 {
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    
    h2 {
        font-size: 12px;
        margin: 0 0 1px 0;
        margin-bottom: 15px;
    }

    h3, p, li {
        font-size: 12px;
    }
}