/* ------------------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : ejercicios.component.css
 * Autor         : Layla Vanessa González Martínez
 * Fecha         : 22/10/2024
 * Descripción   : Estilos para la pestaña de Ejercicios de la scción Recomendaciones
 *                 en la página de Horizon Health.
 *
 * Modificaciones:
 * Fecha         Modificado por     Descripción
 * 22/10/2024    Layla González     Se estilizaron las clases para el contenedor de
 *                                  la rutina diaria, el título, la duración, y una
 *                                  breve descripción para reforzar la confianza del
 *                                  usuario. Se crearon los media queries.
 *
 * 22/11/2024   Layla González      Se modificaron los media queries.
 * ------------------------------------------------------------------------------- */

 .ejercicios {
    display: flex;
    justify-content: center;
}

.text {
  width: 50%;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  border-style: none;
  padding: 20px;
  resize: none;
}

.text:focus { outline: none; }
.text::-webkit-scrollbar { width: 22px; }

.text::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.5);
}

.text::-webkit-scrollbar-button:decrement {
  background-image: url(../../../../../public/scrollbar-decrement.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 23px;
}

.text::-webkit-scrollbar-button:increment {
  background-image: url(../../../../../public/scrollbar-increment.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 23px;
}

.text::-webkit-scrollbar-button:decrement:hover { cursor: pointer; }
.text::-webkit-scrollbar-button:increment:hover { cursor: pointer; }

.info-ejercicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px;
    text-align: center;
    height: 430px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-style: SemiBold;
    font-size: 36px;
    color: #B64F00;
}

h2 {
    font-family: "Nunito", sans-serif;
    font-style: SemiBold;
    font-size: 24px;
    color: #B64F00;
    margin: 30px;
}

/* * Estilos para versatilidad de tamaño de pantalla */
@media ( max-width: 768px ) {
    .ejercicios {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .text {
      font-size: 18px;
      order: 2;
      width: 90%;
      height: 100%;
    }

    .info-ejercicio {
        width: 90%;
        order: 1;
        height: auto;
        margin-top: 0;
    }

    h1 {
        font-size: 30px;
        margin: 15px 30px 15px 30px;
    }

    h2 {
        font-size: 18px;
        margin: 0 0 15px 0;
    }
}

@media ( max-width: 460px ) {
    .text {
      width: 80%;
      font-size: 15px;
      line-height: 20px;
      height: 55%;
    }

    .text::-webkit-scrollbar { width: 12px; }

    .info-ejercicio {
        width: 90%;
        order: 1;
        height: auto;
        margin-top: 0;
    }

    h1 {
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 12px;
        margin: 0 0 1px 0;
        margin-bottom: 15px;
    }
}