<!-- ------------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : ejercicios.component.html
 * Autor         : Layla Vanessa González Martínez
 * Fecha         : 22/10/2024
 * Descripción   : Archivo html de la pestaña de Actividades en la sección de
 *                 Recomendaciones. Consta de un contenedor que abarca todos los
 *                 elementos, otro contenedor para la actividad del día, y otro
 *                 para información sobre ella, como lo es el nombre, la duración,
 *                 y una breve descripción.
 *
 *
 * Modificaciones:
 * Fecha         Modificado por     Descripción
 * 21/10/2024    Layla González     Se definieron las clases y se asignaron sus
 *                                  contenidos.
 *
 * 22/10/2024    Layla González     Se modificó la estructura para llevar una
 *                                  mejor organización y control.
 * ---------------------------------------------------------------------------- -->

 <!-- * Todo el contenido en grupo -->
<div class="actividades">

    <!-- * Área donde se muestra en que consiste la actividad del día -->
    <textarea readonly class="text"> {{ actividad() }} </textarea>

    <!-- * Contenedor del título, duración y descripción de la actividad -->
    <div class="info-actividad">
        <h1> {{ titulo() }} </h1>
        <h2>Duración: {{ duracion() }} minutos</h2>
    </div>
</div>
