<!-- *----------------------------------------------------------------------------
 * HorizonHealth
 *
 * Archivo       : sobre-nosotros.component.html
 * Autor         : Humberto Medina Santos
 * Fecha         : 01/10/2024
 * Descripción   : Archivo html del componente Sobre Nosotros
 *
 * Modificaciones:
 * Fecha         Modificado por            Descripción
 * 04/10/2024    Humberto Medina Santos    Se creó la estructura html del componente
 * ---------------------------------------------------------------------------- -->

<div class="contenedor">

  <!-- * Título principal de la sección -->
  <h1 class="titulo-principal">Sobre Nosotros</h1>

  <!-- * Items representativos de la sección -->
  <div class="contenido">
    @for ( item of AcercaItems(); track item.clase ) {
      <div [class]="item.clase">
        <img [src]="item.img_src" [alt]="item.img_alt">
        <div class="overlay"></div>

        <div class="texto">
          <h3> {{ item.title }} </h3>
          <p> {{ item.text }} </p>
        </div>
      </div>
    }
  </div>
</div>
